APP_PASSWORD=change-me
PORT=3000
USER_AGENT=Mozilla/5.0 moje-zlato-price-tool
STONEX_USER=tvuj-stonex-email
STONEX_PASS=tve-stonex-heslo
STONEX_COOKIE=frontend_session=...; XSRF-TOKEN=...
SHOPTET_SUPPLIER_FEED_URL=https://www.moje-zlato.cz/export/productsSupplier.xml?patternId=-4&partnerId=13&hash=REPLACE_ME
DEFAULT_EUR_CZK=24.335
DEFAULT_MARGIN_CZK=1200
DEFAULT_MARGIN_PERCENT=0
DEFAULT_WAREHOUSE=DE/CH
DEFAULT_IN_STOCK_TEXT=Externí sklad / DE
DEFAULT_OUT_OF_STOCK_TEXT=Předobjednávka / Fixace ceny
